# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*
!.env.example

# Editors
.idea/
.vscode/*
!.vscode/extensions.json
*.swp
*.swo

# Build / coverage
coverage/
dist/
build/
*.tsbuildinfo

# React Native - Metro
.metro-health-check*

# Ruby / CocoaPods
**/Pods/
**/vendor/bundle/
*.xcworkspace
!default.xcworkspace
**/xcuserdata/

# Android
**/android/app/build/
**/android/build/
**/android/.gradle/
**/android/local.properties
**/android/*.iml
**/android/.cxx/
*.keystore
!debug.keystore

# iOS
**/ios/build/
**/ios/DerivedData/
**/ios/*.xcuserstate
**/ios/**/*.xcuserstate

# Testing
*.junit.xml

# Misc
*.orig
